.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  color: black;
  font-size: 2rem;
  text-decoration-style: none !important;
  text-decoration-color: black;
}

.pagination li {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.pagination li a {
  color: black !important;
  text-decoration: none;
}

.pagination li a:visited {
  color: black !important;
}

.pageActive {
  text-decoration: underline !important;
}
